body{
    background-color: #000;
}
.background {
  position: fixed;
  right: 0;
  top:0;
  z-index: -1;

  background-image: url("images/1.jpeg");
  background-color: #000;

  filter: blur(80px);
  opacity: 0.25;

  height: 100%; 
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: rgb(219, 219, 219);
}

.content {
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container {
    display: inline-block;
    width:256px;

    mask-image: radial-gradient(circle at 50% 50%, black 50%, rgb(0,0,0,0.6) 70%, transparent 80%);
    -webkit-mask-image: radial-gradient(circle at 50% 50%, black 50%, rgb(0,0,0,0.6) 70%, transparent 80%);
}

.logo {
    display: block;

    mask-image: radial-gradient(circle at 50% 50%, black 50%, rgb(0,0,0,0.6) 70%, transparent 80%);
    -webkit-mask-image: radial-gradient(circle at 50% 50%, black 50%, rgb(0,0,0,0.6) 70%, transparent 80%);
}

.text-container{
    margin-left: 50px;
    width: 700px;
}

.text {
    font-size: 112px;
    font-family: Impact, sans-serif;
    font-weight: bold;

    letter-spacing: 8px;

    text-transform: uppercase;
    background-image: linear-gradient(45deg, rgb(189, 54, 38), rgb(57, 212, 226));

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
