body{
    background-color: #000;
    color: #fff;
}
.background {
  position: fixed;
  right: 0;
  top:0;
  z-index: -1;

  background-image: url("images/1.jpeg");
  background-color: #000;

  filter: blur(80px);
  opacity: 0.25;

  height: 100%; 
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logorow {
    margin-top: 250px;
}
.logo-container {
    display: inline-block;
    height: 256px;
    width: 256px;

    mask-image: radial-gradient(circle at 50% 50%, black 50%, rgb(0,0,0,0.6) 70%, transparent 80%);
    -webkit-mask-image: radial-gradient(circle at 50% 50%, black 50%, rgb(0,0,0,0.6) 70%, transparent 80%);
}

.logo {
    display: block;
    height: 256px;
    width: 256px;

    mask-image: radial-gradient(circle at 50% 50%, black 50%, rgb(0,0,0,0.6) 70%, transparent 80%);
    -webkit-mask-image: radial-gradient(circle at 50% 50%, black 50%, rgb(0,0,0,0.6) 70%, transparent 80%);
}

.text-container{
    margin-left: 50px;
}

.text {
    font-size: 112px;
    font-family: Impact, sans-serif;
    font-weight: bold;

    letter-spacing: 8px;
    white-space: pre-line;

    text-transform: uppercase;
    background-image: linear-gradient(45deg, rgb(189, 54, 38), rgb(57, 212, 226));

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

.reload {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    font-family: Impact, sans-serif;
    font-weight: bold;

    letter-spacing: 2px;
    text-transform: uppercase;

    opacity: 0.3;

    padding: 15px 15px 15px 15px;

    margin-top: 100px;
}

.reload:hover{
    opacity: 0.5;
}

.reload-icon-container {
    display: inline-block;
    margin-left: 10px;
    padding-bottom: 2px;
}
.reload-icon {
    display: inline-block;
    color: #fff;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    width: 30px;
    height: 30px;
    transform: scaleY(-1) rotate(90deg);
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: auto;
    font-size: 18px;
    font-family: sans-serif;

    letter-spacing: 1px;

    opacity: 0.5;
}

@media only screen and (max-width: 1000px) {
    .logo-container {
        width: 128px;
        height: 128px;
    }
    .logo {
        width: 128px;
        height: 128px;
    }
    .text-container{
        margin-left: 25px;
    }
    .text {
        font-size: 56px;
        letter-spacing: 4px;
    }
    .footer {
        font-size: 20px;
    }
}
@media only screen and (max-width: 580px) {
    .text {
        letter-spacing: 2px;
    }
}
